@font-face {
    font-family: Gilroy; /* Гарнитура шрифта */
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Gilroy-Bold.ttf); /* Путь к файлу со шрифтом */
    }

body 
    {   background-color: #ffffff;
        font-family: Gilroy, Gilroy-Bold, Georgia, 'Times New Roman', Times, serif;
        
}

*{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #070707;
}
h2 {
    font-size: 34px;
    line-height: 42px;
}
@media (max-width:600px){
.program{
    display: flex;
    flex-direction: column;
    align-items: center;
}   
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1445px;
    height: auto;
    font-size: 18px;
    line-height: 21.83px;
    color: #070707;

}
.header {
    max-width: 936px;
    width: 100%;
    height: 664px;
    margin-bottom: 107px;
}

.nav_header  ul{
    display: flex;
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
    line-height: 22.28px;
}

.header_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 0px 30px 0px;
}

.header_about {
    width: 157px;
}

.header_lang {
    display: flex;
    transform: rotate(270deg);
}

.header_info h1 {
    font-size: 47px;
    line-height: 59px;
}

.slide_header{
    position:relative;
    margin:5px auto;
    width:auto;
    height:387px;
    overflow:hidden;
    
}

/* start slide */
.photo_slider{
    position:absolute;
    animation:round 16s infinite;
    opacity:0;
    width:100%;
}
@keyframes round {
    25%{opacity:1}
    40%{opacity:0}
}
.slide_header img:nth-child(1){
    animation-delay:12s
}
.slide_header img:nth-child(2){
    animation-delay:8s
}
.slide_header img:nth-child(3){
    animation-delay:4s
}
.slide_header img:nth-child(4){
    animation-delay:0
}
/* end slide */


#about {
    display: flex;
    max-width: 1445px;
    width: 100%;
    height: 506px;
    background-color: #F6F6F6;
    justify-content: space-around;
}
.about_info {
    max-width: 485px;
    height: 218px;
    text-align: center;
}
.about_info h2 {
    margin: 120px 0px 34px 0px;
}
.about_info p {
    margin-bottom: 55px;
}

#skils {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;   
    max-width: 936px;
    width: 100%;
    height: auto;
}
#skils h2 {
    margin: 92px 0px 73px 0px;
}
#skils span {
    margin-bottom: 60px;
}
.program {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.skils-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:166px;
    height: auto;
}
.skils-program span {
width: 80px;
height: 27px;
font-size: 14px;
line-height: 17px;
margin: 24px 0px 42px 0px;
}
.skils_level{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 115px;
}

#potfolio_conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F6F6F6;
    align-content: center;
    align-items: center;

}
.portfolio {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 936px;
    width: 100%;
}
.portfolio img {
    width: 100%;
}
.portfolio h2 {
    margin: 105px 0px 55px 0px;
}
.portfolio span {
    margin: 40px 0px 105px 0px;
}


#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 936px;
    width: 100%;
    max-height: 622px;
    text-align: center;
}
#footer h2 {
    margin: 100px 0px 28px 0px;
}

#footer span {
    margin-bottom: 32px;
    width: 275px;
}
#footer p {
    width: 243px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 123px;
}
.footer_btn {
    width: 180px;
    height: 42px;
    margin-bottom: 86px;
    padding: 12px;
    border-radius: 22px;
    background-color: #000;
    color: #fff;
    
}
.footer_social_network {
    display: flex;
    width: 342px;
    justify-content: space-between;
    margin-bottom: 45px;
}